
# Created by https://www.gitignore.io/api/maven,java,eclipse,intellij

### Maven ###
target/
log/


### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Code Recommenders
.recommenders/


### Intellij ###

# User-specific stuff:
.idea/
*.iml
*.iws

### Mac ###
.DS_Store

### Java ###
*.class
hs_err_pid*